# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ymllzviqvocnknziordb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InltbGx6dmlxdm9jbmtuemlvcmRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3MDYzMzcsImV4cCI6MjA3MTI4MjMzN30.fWVgkwgqSVsJpRraDuiu-VzWHHtDkW1VX15W0bIy-Tg
